extends layout

block content
  h1= pageHeader.title
  form(action="/postLogin", method="post")
    fieldset
      legend Registered Users 
      p
        lobel(for="user") Username:
          input(type="text", name="user")
      p
        label(for="password") Password:
          input(type="text", name="password")
      p
        input(type="submit", name="loginSubmit", value="Login")
  br
  form(action="/postSignup", method="post")
    fieldset
      legend New Users 
      p
        lobel(for="newuser") Username:
          input(type="text", name="newuser")
      p
        label(for="newpassword") Password:
          input(type="text", name="newpassword")
      p
         input(type="submit", name="signupSubmit", value="Sign Up")  
